/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* App.css */

/* new
.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  cursor: pointer;
}

th:hover {
  background-color: #e6e6e6;
}

th.sorted-asc::after {
  content: " ▲";
}

th.sorted-desc::after {
  content: " ▼";
}

@media screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
} */


/* third style */

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: black;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  background-color: white;

}

th {
  background-color: white;
  cursor: pointer;
  color: blue;
}

.search_align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* th:hover {
  background-color: #ddd;
} */

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

/* tr:hover {
  background-color: #ddd;
} */

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-sizing: border-box;
}

.bold_text {
  font-weight: bold;
}


.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination li button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.pagination li button:hover {
  background-color: #45a049;
}

.pagination li.active button {
  background-color: blue;
}